/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #e7cdbc;
  --color-dark-pink: #e8a78f;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #7D9EAD;
  --color-green: #A3C7BF;
  --color-yellow: #fbf4df;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-begie: #faf1e6;
  --color-dark-begie: #e6ddcd;
  --color-light-begie: #FAF8F2;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-light-grey);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-begie);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-grey);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-light-grey);
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-begie);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
    background: url('/imgs/background.jpg') center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-begie);
}

.home__title,
.home__description {
    color: var(--color-light-grey);
}

.home__contact {
    color: var(--color-light-grey);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-light-grey);
    border-radius: var(--size-border-radius);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__containser {
    max-width: 1200px;
    margin: auto;
}

/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-pink);
    border: 1px solid var(  --color-pink);
    border-radius: 50%;

}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover {
    color: var(--color-dark-pink);
    transform:rotate(-30deg) scale(1.0);
}

.major__title, .major__description {
    color: var(--color-dark-grey);
}

.major__description{
    font-size: var(--font-small);
}

.edu {
    display: flex;
    align-items: center;
}

.edu__description {
    margin: 0 16px;
    text-align: left;
}

.edu__name,
.edu__period {
    color: var(--color-light-grey);
}

.edu__name {
    font-size: var(--font-small);
}

.edu__period {
    font-size: var(--font-micro);
}

/* Skill */
#skills {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title{
    color: white;
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__value {
    width: 100%;
    height: 3px;
    background-color: var(--color-orange);
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skillset__right {
    flex-basis: 40%;
}

.tools{
    background-color: var(--color-grey);
}

.tools, .etc {
    padding: 20px;
}